@media only screen and (max-width: 680px) {
  .page.single .content table {
    display: block;
    overflow-x: auto;
  }
}

header .logo {
  width: auto;
}

.page.single .content figure.theme-aware-diagram {
  > a.lightgallery {
    display: block;
    isolation: isolate;
    background-color: #fff;
  }

  > a.lightgallery > img {
    mix-blend-mode: multiply;
  }

  [theme=dark] & > a.lightgallery {
    background-color: #b8b9bb;
  }
}
